.app-wrapper {
  padding: 20px 10px;
  max-width: 950px;
  font-family: "Urbanist", sans-serif;
  margin: 0 auto;
}

.weather-app{
  border: 2px solid rgb(215, 205, 219);
  border-radius: 40px;
  padding: 0px 10px;
  max-width: 950px;
  background: linear-gradient(
    109.6deg,
    rgb(245, 239, 249) 30.1%,
    rgb(207, 211, 236) 100.2%
  );
  
}
  
.form-control {
  border: 1px solid #ffcef3;
  border-radius: 40px;
  background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  padding: 10px;
}

#search-button {
  border: 1px solid#ffcef3;
  background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  border-radius: 50%;
  padding: 10px;
}

.locationButton {
  border: 1px solid#ffcef3;
  background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  border-radius: 50%;
  padding: 10px;
}

h1 {
  color: #040c6b;
  font-size: 40px;
  margin: 0;
  font-weight: bold;
}


span.time {
    color: #040c6b;
    font-size: 22px;
    padding: 0;
    margin: 0;
}

h2 {
  color: #040c6b;
  font-size: 27px;
  padding: 0;
  margin: 0;
}
.main-icon {
  font-size: 40px;
}

h3 {
  font-size: 15px;
  color: #040c6b;
  margin: 0;
  padding: 0;
}

.windSpeed {
    font-size: 15px;
    color: #040c6b;
    margin: 0;
    padding:0;
}

h4 {
  color: #040c6b;
  font-size: 30px;
  margin: 5px 0 5px 0;
  padding: 10px 0 0 0;
}

h5 {
  display: inline;
  color: #ffcc00;
  font-size: 35px;
  padding: 0 0 7px 0;
}

#fahrenheit {
  color: #040c6b;
  font-size: 22px;
 
}

#celsius {
  color: #040c6b;
  font-size: 22px;
  
}

span.divide {
  color: #040c6b;
  font-size: 22px;
}

h6 {
  color: #040c6b;
  font-size: 25px;
  padding: 5px 0;
  margin:0 ;
}

.lowTemp {
  color: #040c6b;;
  font-size: 27px;
  
}

.row {
  margin: 30px;
}

.currentWeather {
  padding: 0 200px;
}

.current {
  margin: 40px 0px 40px 0px;
  padding: 0px;
}

.today {
  margin: 40px 0px 40px 0px;
  padding: 20px;
}

.col-6 {
  text-align: center;

}
.degreeUnits{
  position: relative; 
  top:-8px; 
  
}
.degreeUnits .active {
  cursor:default;
  text-decoration: none;
}


.col-2 {
  color: #040c6b;
  border: 1px solid #ffcef3;
  border-radius: 50%;
  text-align: Center;
  padding: 30px 0px;
  background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.weekAhead {
  font-size: 17px;
}

.high {
  color: #ffcc00;
  padding: 7px;
}

.low {
  color: #5e63b6;
  padding: 7px;
}

.icon {
  font-size: 30px;
}

footer{
  font-size: 18px;
  text-align:center;
}
