.app-wrapper {
  padding: 10px 10px;
  max-width: 930px;
  font-family: "Urbanist", sans-serif;
  margin: 20px auto;
}

.weather-app {
  border: 2px solid rgb(215, 205, 219);
  border-radius: 40px;
  padding: 0px 20px;
  background: linear-gradient(
    109.6deg,
    rgb(245, 239, 249) 30.1%,
    rgb(207, 211, 236) 100.2%
  ); 
}

.searchBar {
  margin:20px 0px 10px 0px;
} 

.form-control {
  border: 2px solid #ffcef3;
  border-radius: 45px;
  background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  padding: 10px;
}

.searchButton {
  border: 2px solid#ffcef3;
  background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  border-radius: 50%;
  padding: 10px;
}

.locationButton {
  border: 2px solid#ffcef3;
  background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  border-radius: 50%;
  padding: 10px;
}

.searchIcons img{
  height:30px;
}

.currentWeather {
  padding: 10px 210px
}

.currentInfo {
  margin: 20px 0px 20px 0px;
  padding: 10px 0px;
  text-align:center;
}

.cityName {
  color: #040c6b;
  font-size: 37px;
  margin: 0;
  font-weight: bold;
}


span.time {
    color: #040c6b;
    font-size: 22px;
    padding: 0;
    margin: 0;
}

.weatherType {
  color: #040c6b;
  font-size: 22px;
  padding: 0;
  margin: 0;
}

.humidity {
  font-size: 17px;
  color: #040c6b;
  margin: 0;
  padding: 0;
}

.windSpeed {
  font-size: 17px;
  color: #040c6b;
  margin: 0;
  padding:0;
}

.todayWeather {
  margin: 20px 0px 20px 0px;
  padding: 10px 0px;
  text-align:center;
  
}

h4 {
  color: #040c6b;
  font-size: 27px;
  margin: 5px 0 5px 0;
  padding: 10px 0 0 0;
}

.todayTemp {
  display: inline;
  color: #dab4fe;
  font-size: 45px;
  padding: 0 0 7px 0;
  
}

.degreeUnits{
  position: relative; 
  top:-15px; 
}

.degreeUnits .active {
  cursor:default;
  text-decoration: none;
}

#fahrenheit {
  color: #040c6b;
  font-size: 22px;
 
}

span.divide {
  color: #040c6b;
  font-size: 22px;
}

#celsius {
  color: #040c6b;
  font-size: 22px;
}

h6 {
  color: #040c6b;
  font-size: 22px;
  padding: 5px 0;
  margin:0 ;
}

.lowTemp {
  color: #96abff;
  font-size: 30px;
}

.weekForecast {
  color: #040c6b;
  border: 1px solid #ffcef3;
  font-size: 20px;
  margin:1px 0px ;
  border-radius: 50%;
  text-align: Center;
  padding: 30px 0px;
  background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.weekHigh {
  color: #dab4fe;
  padding: 7px;
}

.weekLow {
  color: #96abff;
  padding: 7px;
}

.sourceLine{
  font-size: 18px;
  text-align:center;
  display:inline;
  color:#040c6b;
  margin:0 80px;
}

.sourceCodeLink{
  color:#040c6b;
}

.netlifyLink{
    color:#040c6b;
}

.iconReferenceLink {
    color:#040c6b;
}